{% extends "layout.html" %}

{% block content %}

<form action="{{ url_for('home') }}" method="post" class="form-horizontal">
    <div class="row" style="padding:10px 0 0 15px">
        <div class="table-responsive col-sm-7">
            <table border="1" class="table table-striped table-bordered text-nowrap table-hover table-condensed text-center">
                <thead>
                    <tr>
                        {% for th in splitList.columns %}
                        <th>{{ th }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in splitList.index %}
                    <tr>
                        <td><input type="submit" name="bibNo" value="{{ splitList.loc[row][0] }}" class="btn btn-primary btn-xs btn-block"></td>
                        <td>{{ splitList.loc[row][1] }}</td>
                        {% for col in splitList.columns[2:] %}
                        <td>{{ splitList.at[row, col] }}<span class="lap"><br />{{ lapList.at[row, col] }}</span><span class="time"><br />{{ timeList.at[row, col] }}</span></td>
                        {% endfor %}
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="padding:0 10px 0 15px">
        <div class="form-group">
            <label for="raceName" class="control-label col-sm-2">URL:</label>
            <div class="col-sm-5">
                <input type="text" name="raceName" id="raceName" class="form-control" value="{{ raceName }}">
            </div>
        </div>
        <div class="form-group">
            <label for="bibList" class="control-label col-sm-2">No:</label>
            <div class="col-sm-5">
                <textarea name="bibList" id="bibList" class="form-control" rows="3" aria-describedby="bibNo-help">{{ bibList }}</textarea>
            </div>
        </div>
        <div class="col-sm-offset-2">
            <input type="submit" value="OK" class="btn btn-primary btn-sm" />
        </div>
        <textarea name="splitdata_json" hidden>{{ splitList.to_json() }}</textarea>
        <textarea name="lapdata_json" hidden>{{ lapList.to_json() }}</textarea>
        <textarea name="timedata_json" hidden>{{ timeList.to_json() }}</textarea>
    </div>
</form>

{% endblock %}
